<div class="login-container">
    <div class="login-box">
        <div class="logo-container">
            <img src="assets/logo.svg" alt="Moneytolia Logo" class="logo-image" />
        </div>

        <div class="language-selector">
            <select [ngModel]="currentLang" (ngModelChange)="changeLanguage($event)" class="language-dropdown">
                <option value="tr">{{ 'LANGUAGE.TR' | translate }}</option>
                <option value="en">{{ 'LANGUAGE.EN' | translate }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="username">{{ 'LOGIN.USERNAME' | translate }}</label>
            <input type="text" id="username" [(ngModel)]="username" required class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
            <input type="password" id="password" [(ngModel)]="password" required class="form-control" />
        </div>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage | translate }}
        </div>
        <button (click)="login()" class="login-button">{{ 'LOGIN.BUTTON' | translate }}</button>
        <div class="login-info">
            <p>{{ 'LOGIN.INFO' | translate }}</p>
        </div>
    </div>
</div>